@page "/"
@using RobotControl.Data;

<PageTitle>Index</PageTitle>

<h1>Hello, nworld!</h1>



<button @onclick='()=>RobotCommands.SetDirection("forward")'>Forward</button>
<button @onclick='()=>RobotCommands.SetDirection("backward")'>Backward</button>
<button @onclick='()=>RobotCommands.SetTurn("right",90)'>Right</button>
<button @onclick='()=>RobotCommands.SetTurn("halfright",45)'>Right '45'</button>
<button @onclick='()=>RobotCommands.SetTurn("left",-90)'>Left</button>
<button @onclick='()=>RobotCommands.SetTurn("halfleft",-45)'>Left '45'</button>