@page "/smooth"
@using RobotControl.Data;
<style>
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        background-color: #2196F3;
        padding: 10px;
        
    }
</style>

<PageTitle>Smooth</PageTitle>


<div class="steering">
<div class="btngrid">
    <div></div>
    <button class="movebtn" @onclick='()=>RobotSteering.SetMoveSmooth("forward")'>Forward</button>
    <div></div>
    <button class="movebtn" @onclick='()=>RobotSteering.SetMoveSmooth("left")'>Left</button>
    <button class="movebtn">Stop</button>
    <button class="movebtn" @onclick='()=>RobotSteering.SetMoveSmooth("right")'>Right</button>
    <button class="movebtn" @onclick='()=>RobotSteering.SetMoveSmooth("backward")'>Backward</button>
    
</div>
</div>



