@inherits LayoutComponentBase

<PageTitle>RobotControl</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
        <div>
        <img class ="center"alt="streaming test" src="https://8165-2a02-a31d-a148-cf00-a0bd-f56-5290-245d.ngrok-free.app/stream"  />
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
